body{
    margin: 0;
    padding: 0;
    background-color:   #e6e6e6
;
}

header{
    background-color: lightgray;
    padding: 20px;
}

h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 45px;
}

img {
    margin-left: 300px;
}

/* .text_italic p{
    text-align: center;
    
} */
