body{
    margin: 0;
    padding: 0;
}

header{
    padding: 20px 0;
}

.head1{
    background-color: lightgrey;
    padding: 20px;
}

h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 45px;
}

.image{
    background-color: #fff;
    margin: auto;
    width: 900px;
}

img{
    background-color: #fff;
}

section{
    background-color: lightgrey;
}


.head{
    text-align: center;
    padding: 10px;
}

ul{
    width: 500px;
    margin: auto;
    padding: 13px;
}

li{
    padding: 10px;
}

article{
    width: 600px;
    margin: auto;
}

.paragrah-quote{
    font-size: 18px;
}

h3{
    width: 900px;
    margin: auto;
    padding: 45px;
    font-size: 20px;
}